<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa.Dao.CommoditTypeTableDao">
<!-- 查询所有商品类型 -->
<select id="listAll" resultType="com.aaa.Entity.CommoditTypeTable">
      select * from CommoditTypeTable
   </select>
  <!-- 后台查询所有商品类型 -->
  <select id="selcommtype" resultType="com.aaa.Entity.CommoditTypeTable">
      select * from CommoditTypeTable
   </select>
</mapper>